body{
    margin: 0;;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#greeting{
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    font-family: monospace;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 2vw;
}

.container img{
    border-radius: 50%;
    cursor: pointer;
}

.container #name{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: monospace;
    cursor: pointer;
    text-align: center;
}